<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- ApplicationContext的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
  		classpath*:/spring.xml
		classpath*:/mybatis-spring.xml
  	</param-value>
	</context-param>

	<!-- 中文Filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
                <filter-name>encodingFilter</filter-name>
                <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!--Spring的ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Spring MVC 的 分发器(调度器) DispatcherServlet -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
  				org.springframework.web.context.support.XmlWebApplicationContext
  			</param-value>
		</init-param>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
   				classpath:spring-mvc.xml
			</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

		<!-- Servlet 3.0 的文件上传配置 -->
		<multipart-config>
			<max-file-size>104857600</max-file-size>
		</multipart-config>
	</servlet>

	<!-- Handles *.do requests into the application -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 检测超时session:60分钟 -->
	<session-config>
 		<session-timeout>15</session-timeout>
	</session-config>
	
	
	<!-- 出错页面定义 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/resources/common-page/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/resources/common-page/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/resources/common-page/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/resources/common-page/404.jsp</location>
	</error-page>
	

</web-app>
